<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>{{.title}}</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="keywords" content="{{.title}}">
    <meta name="description" content="{{.title}}">
    {{template "head" .}}
</head>

<body data-logobg="{{.logo}}" data-headerbg="{{.header}}" data-sidebarbg="{{.sider}}">
{{template "body" .}}

{{template "script" .}}
</body>
</html>