{{define "head"}}

{{end}}

{{define "body"}}
<section style="width: 100%; text-align: center;">
    <div style="background-color: #ccc; text-align: center; margin: 30px;width: 500px;">
        <h3 class="panel-title">{{.title}}</h3>
        <p style="word-break:break-all;text-align:left;">Error Status：</p>
        <p style="word-break:break-all;text-align:left;text-indent: 2em;">{{.status}}</p>
        <p style="word-break:break-all;text-align:left;">Error Message：</p>
        <p style="word-break:break-all;text-align:left;text-indent: 2em;">{{.message}}</p>
    </div>
</section>
{{end}}

{{define "script"}}

{{end}}